.navbar { 
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

.nav-links{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    color: white;
    padding: 0px;
}

.nav-links a { 
    color: white;
    text-decoration: none;
}